<header class="">
    <h1>YouTube</h1>
    <input type="text" name="" placeholder={{$ctrl.placeholder}} ng-model=$ctrl.searchValue>
    <button ng-click="$ctrl.click()">Search</button>

    <button ng-click="$ctrl.getVideoParameters()">test</button>

    <div class="">
        <div ng-show="$ctrl.filterVisible">
            <h1>Filter</h1>
            <h2>UPLOAD DATE</h2>
            <form action="">
                <input type="radio" name="upload-date" value="last-hour" ng-model="$ctrl.uploadDate"> Last hour<br>
                <input type="radio" name="upload-date" value="today" ng-model="$ctrl.uploadDate"> Today<br>
                <input type="radio" name="upload-date" value="this-week" ng-model="$ctrl.uploadDate"> This week<br>
                <input type="radio" name="upload-date" value="this-month" ng-model="$ctrl.uploadDate"> This month
            </form>

            <h2>TYPE</h2>
            <form action="">
                <input type="radio" name="type" value="video" ng-model="$ctrl.type">Video<br>
                <input type="radio" name="type" value="channel" ng-model="$ctrl.type"> Channel<br>
                <input type="radio" name="type" value="playlist" ng-model="$ctrl.type"> Playlist
            </form>

            <h2>SORT BY</h2>
            <form action="">
                <input type="radio" name="sort-by" value="relevance" ng-model="$ctrl.sortBy"> Relevance<br>
                <input type="radio" name="sort-by" value="date" ng-model="$ctrl.sortBy"> Upload Date<br>
                <input type="radio" name="sort-by" value="viewCount" ng-model="$ctrl.sortBy"> View Count<br>
                <input type="radio" name="sort-by" value="rating" ng-model="$ctrl.sortBy"> Rating
            </form>
        </div>
    </div>
    <div ng-show="$ctrl.showVideos">
        <br><br>
        <button ng-click="$ctrl.showOrHideFilter()">{{$ctrl.filterVisibleText}}
		</button>
        <p>About {{$ctrl.totalResults}} results</p>
        <h1>Videos</h1>
        <ul ng-repeat="video in $ctrl.videos">
            <a ng-href="/video/{{video.id.videoId}}">
                <img src={{video.snippet.thumbnails.default.url}}>
            </a>
            <li>
                <a ng-href="/video/{{video.id.videoId}}" style="color:red">{{video.snippet.title}}</a>
            </li>
            <li href="#/channel">
                <a ng-href="/video/{{video.id.videoId}}" style="color:red">{{video.snippet.channelTitle}}</a>
            </li>
            <li>{{video.snippet.description}}</li>
        </ul>
    </div>

</header>